.top-menu-bar {
  text-align: center;
  background-color: #334455;
  color: #fff;
  margin: 0;
  padding-inline-start: 0;
}
.top-menu-bar li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.top-menu-bar a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px 5px 15px;
  color: #fff;
}
.top-menu-bar a:visited {
  color: #fff;
}
.top-menu-bar a.active,
.top-menu-bar a:hover {
  color: #334455;
  background: #fff;
}
